.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        align-items: center;
        margin-top: 5rem;
    }
}